
# xmtp
LOGGING_LEVEL="off" # off, error, warn, info, debug, trace
XMTP_ENV="dev" # dev, production


#bob
WALLET_KEY_BOB=
ENCRYPTION_KEY_BOB=
# public key is 

#alice
WALLET_KEY_ALICE=
ENCRYPTION_KEY_ALICE= 
#public key is 
