name: Agent text
description: "First meaningful response of the agents"

on:
  pull_request:
  schedule:
    - cron: "30 * * * *" # Runs every hour at 30 minutes past
  workflow_dispatch:

jobs:
  agents-text:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        test: [agents-text]
        env: [production]
    env:
      DATADOG_API_KEY: ${{ secrets.DATADOG_API_KEY }}
      REGION: ${{ vars.REGION }}
      SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
      XMTP_WALLET_KEY: ${{ secrets.XMTP_WALLET_KEY }}
      XMTP_DB_ENCRYPTION_KEY: ${{ secrets.XMTP_DB_ENCRYPTION_KEY }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup test env
        uses: ./.github/actions/xmtp-test-setup

      - name: ${{ matrix.test }} ${{ matrix.env }}
        run: yarn test ${{ matrix.test }}  --env ${{ matrix.env }} --no-fail --log off

      - name: Cleanup and upload artifacts
        if: always()
        uses: ./.github/actions/xmtp-test-cleanup
        with:
          test-name: ${{ matrix.test }}
          env: ${{ matrix.env }}

      - name: Send Slack notification on failure
        if: failure() || cancelled()
        uses: ./.github/actions/slack-notification
        with:
          workflow-name: "Agent health (${{ matrix.test }}, ${{ matrix.env }})"
          slack-bot-token: ${{ secrets.SLACK_BOT_TOKEN }}
