name: Performance Large
description: "performance of medium groups"

on:
  #pull_request:
  schedule:
    - cron: "45 */6 * * *" # Runs every 6 hours at 45 minutes past the hour
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        test: [performance]
        size: [200-250]
        env: [dev, testnet-staging]
        cache-data: [false]
    env:
      DATADOG_API_KEY: ${{ secrets.DATADOG_API_KEY }}
      REGION: ${{ vars.REGION }}
      SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
      XMTP_GATEWAY_HOST: ${{ matrix.env == 'testnet-staging' && secrets.XMTP_GATEWAY_HOST || '' }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup test env
        uses: ./.github/actions/xmtp-test-setup
        with:
          cache-data: ${{ matrix.cache-data }}
          test-name: ${{ matrix.test }}-${{ matrix.size }}
          env: ${{ matrix.env }}

      - name: Run tests ${{ matrix.size }}
        run: yarn test ${{ matrix.test }} --no-fail --log warn --file --env ${{ matrix.env }} --size ${{ matrix.size }}

      - name: Cleanup and upload artifacts
        if: always()
        uses: ./.github/actions/xmtp-test-cleanup
        with:
          save-to-cache: ${{ matrix.cache-data }}
          test-name: ${{ matrix.test }}-${{ matrix.size }}
          env: ${{ matrix.env }}

      - name: Send Slack notification on failure
        if: failure() || cancelled()
        uses: ./.github/actions/slack-notification
        with:
          workflow-name: "Performance Large (${{ matrix.test }}, ${{ matrix.env }}, ${{ matrix.size }})"
          slack-bot-token: ${{ secrets.SLACK_BOT_TOKEN }}
