name: Validate code quality

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  validate:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    env:
      SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
      REGION: ${{ vars.REGION }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup test env
        uses: ./.github/actions/xmtp-test-setup

      - name: Run versions
        run: yarn versions
      - name: Format code
        run: yarn format
      - name: Build
        run: yarn build
      - name: Lint
        run: yarn lint

      - name: Test error (remove this step)
        run: exit 1

      - name: Send Slack notification on failure
        if: failure() || cancelled()
        uses: ./.github/actions/slack-notification
        with:
          workflow-name: "Validate code quality"
          status: ${{ job.status }}
          slack-bot-token: ${{ secrets.SLACK_BOT_TOKEN }}
