name: Validate QA repo

on:
  #pull_request:
  schedule:
    - cron: "25 */5 * * *" # every 5 hours at 25 minutes past
  workflow_dispatch:

jobs:
  validate:
    timeout-minutes: 10
    runs-on: ubuntu-latest

    env:
      REGION: ${{ vars.REGION }}
      SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
      DATADOG_API_KEY: ${{ secrets.DATADOG_API_KEY }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Print workflow region
        run: |
          echo "Workflow IP region:"
          curl -s https://ipinfo.io/region
          echo ""
          echo "Full IP info:"
          curl -s https://ipinfo.io/json | jq .

      - name: Clone XMTP QA Tools repo
        run: |
          git clone https://github.com/xmtp/xmtp-qa-tools.git qa-tools-test
          cd qa-tools-test

      - name: Setup Node.js
        uses: actions/setup-node@v4

      - name: Enable Corepack
        run: corepack enable
        shell: bash

      - name: Prepare Yarn
        run: corepack prepare yarn@4.6.0 --activate
        shell: bash

      - name: Install dependencies
        run: |
          cd qa-tools-test
          yarn install

      - name: Run DM tests
        run: |
          cd qa-tools-test
          yarn test performance --env dev  --winston info   --size 5 --no-fail --log off  --no-datadog

      - name: Send Slack notification on failure
        if: failure() || cancelled()
        uses: ./.github/actions/slack-notification
        with:
          workflow-name: "Validate QA repo"
          slack-bot-token: ${{ secrets.SLACK_BOT_TOKEN }}
